<!doctype html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="last-modified" content="{{index . 0}}">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes, viewport-fit=cover">

    <title>{{index . 3}}</title>

    <meta name="theme-color" content="#0071eb">
    <meta name="author" content="Adrien Kara">
    <meta name="description" content="{{index . 5}}">

    <link rel="me" href="https://mastodon.social/@norihiori">
    <link rel="icon" type="image/png" href="/media/favicon.png">
    <link rel="canonical" href="https://iglou.eu/">
    <link rel="stylesheet" href="/css/Monolith.css">
</head>

<body>
    <!--[if IE]>
            <p class="browserupgrade">
                Vous utilisez un navigateur <strong>obsolète</strong>. Veuillez <a href="http://browsehappy.com/" target="_blank" rel="noreferrer">mettre à jour votre navigateur</a> pour améliorer votre expérience.
            </p>
        <![endif]-->

    <header class="header">
        <a href="#" class="header_logo" aria-label="Logo Iglou.eu" title="Remonter la page">
            <svg class="svg_icon">
                <use xlink:href="#svg_iglou"></use>
            </svg>
        </a>
        <nav class="header_nav" aria-label="Menu">
            <ul class="header_menu">
                <li class="menu_entry">
                    <a href="#a_benefits" class="menu_entry link">{{index . 8}}</a>
                </li>
                <li class="menu_entry">
                    <a href="#" class="menu_entry link">{{index . 9}}</a>
                </li>
                <li class="menu_entry">
                    <a href="#a_faq" class="menu_entry link">{{index . 10}}</a>
                </li>
                <li class="menu_entry">
                    <a href="#a_contact" class="menu_entry button contact"><span>{{index . 11}}</span></a>
                </li>
            </ul>
        </nav>
    </header>

    <main id="main" class="main">
        <article id="a_primary" class="article">
            <div class="hero">
                <h1 class="hero__title">{{index . 13}}</h1>
                <p class="hero__text">{{index . 15}}</p>
                <a href="mailto:{{index . 87}}?subject=%5BDevis%5D%20Cr%C3%A9ation%20sur%20mesure&body=Bonjour%20Adrien%20d%27Iglou.eu%2C%0A%7BVotre%20message%7D%0A%0A%0ANous%20avons%20un%20projet%20%28cocher%20la%20case%20correspondante%29%20%3A%0A-%20%5B%20%5D%20Logiciel%20Sp%C3%A9cifique%20%28sur%20mesure%29%0A-%20%5B%20%5D%20Application%20web%0A-%20%5B%20%5D%20API%20et%2Fou%20Scrapping%0A%0AAvec%20un%20budget%20entre%20...%20et%20...%20%E2%82%AC%0A%0ALe%20projet%20en%20quelques%20lignes%20%3A%0A%7BVotre%20projet%7D%0A%0A%0ACordialement%2C" class="button with_icon contact">
                    <svg class="svg_icon">
                        <use xlink:href="#svg_paperplane"></use>
                    </svg>
                    <span> {{index . 17}}</span>
                </a>
            </div>
            <div class="services_preview">
                <div class="services_preview__item prez_pad">
                    <div class="services_preview__item_icon prez_pad__icon">
                        <svg class="svg_icon">
                            <use xlink:href="#svg_software"></use>
                        </svg>
                    </div>
                    <a href="#" class="services_preview__item_title prez_pad__title">{{index . 21}}</a>
                    <p class="services_preview__item_text prez_pad__text">{{index . 22}}</p>
                </div>
                <div class="services_preview__item prez_pad">
                    <div class="services_preview__item_icon prez_pad__icon">
                        <svg class="svg_icon">
                            <use xlink:href="#svg_webapp"></use>
                        </svg>
                    </div>
                    <a href="#" class="services_preview__item_title prez_pad__title">{{index . 24}}</a>
                    <p class="services_preview__item_text prez_pad__text">{{index . 25}}</p>
                </div>
                <div class="services_preview__item prez_pad">
                    <div class="services_preview__item_icon prez_pad__icon">
                        <svg class="svg_icon">
                            <use xlink:href="#svg_api"></use>
                        </svg>
                    </div>
                    <a href="#" class="services_preview__item_title prez_pad__title">{{index . 27}}</a>
                    <p class="services_preview__item_text prez_pad__text">{{index . 28}}</p>
                </div>
            </div>
        </article>

        <article id="a_benefits" class="article">
            <h2 class="benefits_title grid_full glob_title">{{index . 31}}</h2>
            <p class="benefits_desc grid_full glob_desc">{{index . 32}}</p>
            <img src="/media/exemple_app.webp" alt="exemple d'application" class="benefits_reps" loading="lazy">
            <ol class="benefits_list">
                <li class="benefit_item prez_pad">
                    <div class="benefit_item__icon prez_pad__icon">
                        <svg class="svg_icon">
                            <use xlink:href="#svg_eye"></use>
                        </svg>
                    </div>
                    <p class="benefit_item__title prez_pad__title">{{index . 34}}</p>
                    <p class="benefit_item__text prez_pad__text">{{index . 35}}</p>
                </li>
                <li class="benefit_item prez_pad">
                    <div class="benefit_item__icon prez_pad__icon">
                        <svg class="svg_icon">
                            <use xlink:href="#svg_git"></use>
                        </svg>
                    </div>
                    <p class="benefit_item__title prez_pad__title">{{index . 37}}</p>
                    <p class="benefit_item__text prez_pad__text">{{index . 38}}</p>
                </li>
                <li class="benefit_item prez_pad">
                    <div class="benefit_item__icon prez_pad__icon">
                        <svg class="svg_icon">
                            <use xlink:href="#svg_medical"></use>
                        </svg>
                    </div>
                    <p class="benefit_item__title prez_pad__title">{{index . 40}}</p>
                    <p class="benefit_item__text prez_pad__text">{{index . 41}}</p>
                </li>
                <li class="benefit_item prez_pad">
                    <div class="benefit_item__icon prez_pad__icon">
                        <svg class="svg_icon">
                            <use xlink:href="#svg_screwdriver"></use>
                        </svg>
                    </div>
                    <p class="benefit_item__title prez_pad__title">{{index . 43}}</p>
                    <p class="benefit_item__text prez_pad__text">{{index . 44}}</p>
                </li>
                <li class="benefit_item prez_pad">
                    <div class="benefit_item__icon prez_pad__icon">
                        <svg class="svg_icon">
                            <use xlink:href="#svg_server"></use>
                        </svg>
                    </div>
                    <p class="benefit_item__title prez_pad__title">{{index . 46}}</p>
                    <p class="benefit_item__text prez_pad__text">{{index . 47}}</p>
                </li>
            </ol>
        </article>

        <article id="a_ref" class="article">
            <h2 class="ref_title glob_title">{{index . 128}}</h2>
            <p class="ref_desc glob_desc">{{index . 129}}</p>
            <div class="ref_list">
                <img loading="lazy" src="/media/clients/esa.png" alt="European Space Agency" class="ref_list__item">
                <img loading="lazy" src="/media/clients/imagine.png" alt="Institut Imagine" class="ref_list__item">
                <img loading="lazy" src="/media/clients/neo_ps.png" alt="Neo Property Solutions" class="ref_list__item">
                <img loading="lazy" src="/media/clients/sncf.png" alt="La SNCF" class="ref_list__item">
                <img loading="lazy" src="/media/clients/carlab.png" alt="Carlab france" class="ref_list__item">
                <img loading="lazy" src="/media/clients/mpf.png" alt="Maisons Paysannes de France" class="ref_list__item">
            </div>
        </article>

        <article id="a_faq" class="article">
            <h2 class="faq_title glob_title">{{index . 64}}</h2>
            <p class="faq_desc glob_desc">{{index . 65}}</p>
            <div class="faq_questions">
                <details class="question" open>
                    <summary class="link question_title">{{index . 67}}</summary>
                    <p class="question_response">{{index . 68}}</p>
                </details>
                <details class="question">
                    <summary class="link question_title">{{index . 70}}</summary>
                    <p class="question_response">{{index . 71}}</p>
                </details>
                <details class="question">
                    <summary class="link question_title">{{index . 73}}</summary>
                    <p class="question_response">{{index . 74}}</p>
                </details>
                <details class="question">
                    <summary class="link question_title">{{index . 76}}</summary>
                    <p class="question_response">{{index . 77}}</p>
                </details>
                <details class="question">
                    <summary class="link question_title">{{index . 79}}</summary>
                    <p class="question_response">{{index . 80}}</p>
                </details>
            </div>
        </article>

        <article id="a_contact" class="article">
            <h2 class="contact_title glob_title">{{index . 83}}</h2>
            <p class="contact_desc glob_desc">{{index . 84}}</p>
            <div class="box">
                <div class="contact_info">
                    <div class="contact_info__item">
                        <h3 class="contact_info__item_title">
                            <svg class="svg_icon">
                                <use xlink:href="#svg_paperplane"></use>
                            </svg>
                            <span>{{index . 86}}</span>
                        </h3>
                        <address class="contact_info__item_content">
                            <a class="link" href="mailto:{{index . 87}}?subject=%5BContact%5D%20Depuis%20Iglou.eu&body=Bonjour%20Adrien%20d%27Iglou.eu%2C%0D%0A%7BVotre%20message%7D%0D%0A%0D%0ACordialement%2C">
                                {{index . 87}}
                            </a>
                        </address>
                    </div>
                    <div class="contact_info__item">
                        <h3 class="contact_info__item_title">
                            <svg class="svg_icon">
                                <use xlink:href="#svg_phone"></use>
                            </svg>
                            <span>{{index . 89}}</span>
                        </h3>
                        <address class="contact_info__item_content">
                            <a class="link" href="tel:{{index . 90}}">
                                {{index . 91}}
                            </a>
                        </address>
                    </div>
                    <div class="contact_info__item">
                        <h3 class="contact_info__item_title">
                            <svg class="svg_icon">
                                <use xlink:href="#svg_location"></use>
                            </svg>
                            <span>{{index . 93}}</span>
                        </h3>
                        <address class="contact_info__item_content">{{index . 94}}</address>
                    </div>
                </div>
                <img src="/media/map.webp" alt="Carte openstreetmap indiquant l'emplacement de Iglou.eu" class="contact_map" loading="lazy">
                <!-- <iframe class="contact_map" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=2.401751875877381%2C48.85662581331745%2C2.407690286636353%2C48.85955520830001&amp;layer=hot&amp;marker=48.858090529402226%2C2.4047238636569546"></iframe> -->
            </div>
        </article>
    </main>

    <footer id="footer" class="footer">
        <a href="#" class="footer_logo" aria-label="Logo Iglou.eu" title="Remonter la page">
            <svg class="svg_icon">
                <use xlink:href="#svg_iglou"></use>
            </svg>
        </a>
        <p class="footer_content">{{index . 97}} - <a class="link" href="#engagements">{{index . 98}}</a> - <a class="link" href="#mentions_legales">{{index . 99}}</a>
        </p>
        <ul class="footer_social">
            <li class="footer_social__item">
                <a href="https://git.iglou.eu" class="footer_social__item_link link" title="Private git" target="_blank" rel="noreferrer">
                    <svg class="svg_icon">
                        <use xlink:href="#svg_git"></use>
                    </svg>
                </a>
            </li>
            <li class="footer_social__item">
                <a href="https://github.com/IGLOU-EU" class="footer_social__item_link link" title="Github" target="_blank" rel="noreferrer">
                    <svg class="svg_icon">
                        <use xlink:href="#svg_github"></use>
                    </svg>
                </a>
            </li>
            <li class="footer_social__item">
                <a href="https://www.linkedin.com/in/adrien-iglou/" class="footer_social__item_link link" title="Linkedin" target="_blank" rel="noreferrer">
                    <svg class="svg_icon">
                        <use xlink:href="#svg_linkedin"></use>
                    </svg>
                </a>
            </li>
        </ul>
    </footer>

    <div id="mentions_legales" class="popup">
        <div class="box">
            <a href="#" class="popup_close link" title="Fermer la popup">
                <svg class="svg_icon">
                    <use xlink:href="#svg_cross"></use>
                </svg>
            </a>
            <h2 class="mentions_title glob_title grid_full">{{index . 102}}</h2>
            <p class="mentions_desc glob_desc grid_full">{{index . 103}}</p>
            <div class="box">
                <h3 class="glob_title">
                    <svg class="svg_icon">
                        <use xlink:href="#svg_pencil"></use>
                    </svg>
                    {{index . 105}}
                </h3>
                <p class="glob_desc">{{index . 106}}</p>
            </div>
            <div class="box">
                <h3 class="glob_title">
                    <svg class="svg_icon">
                        <use xlink:href="#svg_server"></use>
                    </svg>
                    {{index . 108}}
                </h3>
                <p class="glob_desc">{{index . 109}}</p>
            </div>
            <div class="box">
                <h3 class="glob_title">
                    <svg class="svg_icon">
                        <use xlink:href="#svg_joke_redhat"></use>
                    </svg>
                    {{index . 111}}
                </h3>
                <p class="glob_desc">{{index . 112}}</p>
            </div>
            <div class="box">
                <h3 class="glob_title">
                    <svg class="svg_icon">
                        <use xlink:href="#svg_cookie"></use>
                    </svg>
                    {{index . 114}}
                </h3>
                <p class="glob_desc">{{index . 115}}</p>
            </div>
        </div>
    </div>

    <div id="engagements" class="popup">
        <div class="box">
            <a href="#" class="popup_close link" title="Fermer la popup">
                <svg class="svg_icon">
                    <use xlink:href="#svg_cross"></use>
                </svg>
            </a>
            <h2 class="engagements_title glob_title grid_full">{{index . 118}}</h2>
            <p class="engagements_desc glob_desc grid_full">{{index . 119}}</p>
            <div class="box">
                <h3 class="glob_title">
                    <svg class="svg_icon">
                        <use xlink:href="#svg_user"></use>
                    </svg>
                    {{index . 121}}
                </h3>
                <div class="left glob_desc">{{index . 122}}</div>
            </div>
            <div class="box">
                <h3 class="glob_title">
                    <svg class="svg_icon">
                        <use xlink:href="#svg_object"></use>
                    </svg>
                    {{index . 124}}
                </h3>
                <div class="left glob_desc">{{index . 125}}</div>
            </div>
        </div>
    </div>

    <svg class="hidden">
        <!-- DissolveRegular created by FontForge 20090622 at Mon Jun 4 15:21:10 2018 By deploy user -->
        <symbol id="svg_iglou" viewBox="0 0 332 105">
            <title>Iglou.eu</title>
            <path d="m67.5 52.5v25c0 3.4-0.65 6.6-2 9.6s-3.1 5.7-5.4 8-4.9 4-8 5.4-6.3 2-9.8 2c-2 6e-3 -4.1-0.14-6.1-0.43-1.1-0.17-2.3-0.39-3.4-0.67-1.4-0.36-2.9-0.81-4.2-1.4-1.2-0.48-2.3-1.1-3.4-1.7-1.3-0.79-2.5-1.7-3.6-2.8-0.62-0.61-1.2-1.3-1.7-2-1.4-1.8-2.2-3.8-2.4-6h9c0.4 1.1 0.93 2.1 1.6 3 0.41 0.56 0.88 1.1 1.4 1.5 0.43 0.35 0.89 0.67 1.4 0.95 0.56 0.32 1.1 0.6 1.8 0.82 0.6 0.22 1.2 0.42 1.9 0.59 0.28 0.068 0.56 0.13 0.85 0.19 0.63 0.12 1.3 0.22 1.9 0.28 1.4 0.15 3.1 0.21 4.9 0.17 0.054-0.0013 0.11-0.0026 0.16-4e-3 1.9 0.012 3.8-0.29 5.7-0.89 0.41-0.14 0.82-0.29 1.2-0.46 2.1-0.9 4-2.1 5.6-3.7s2.8-3.4 3.7-5.6 1.4-4.4 1.4-6.8v-25c0-2.4-0.45-4.7-1.4-6.8s-2.1-4-3.7-5.6-3.4-2.8-5.6-3.8c-2-0.85-4.2-1.3-6.4-1.3-0.15-0.0034-0.31-0.0051-0.46-5e-3 -2.3 0-4.6 0.45-6.6 1.4s-4 2.2-5.6 3.8-2.9 3.5-3.8 5.6-1.4 4.4-1.4 6.8 0.47 4.7 1.4 6.8 2.2 4 3.8 5.6 3.4 2.8 5.6 3.8 4.3 1.4 6.6 1.4v7.5c-3.4 0-6.6-0.65-9.6-2s-5.7-3.1-8-5.3-4-4.9-5.4-7.9c-1.2-2.8-1.8-5.8-1.9-8.9-0.011-0.33-0.017-0.66-0.017-0.99 0-3.4 0.65-6.6 2-9.6s3.1-5.7 5.4-8 4.9-4 8-5.4 6.2-2 9.6-2c3.5 0 6.7 0.65 9.8 2s5.7 3.1 8 5.4 4 4.9 5.4 8 2 6.2 2 9.6zm180 18v7.5c-3.5 0-6.7-0.65-9.8-2s-5.7-3.1-8-5.4-4-4.9-5.4-8-2-6.3-2-9.8c0-3.4 0.65-6.6 2-9.6s3.1-5.7 5.4-8 4.9-4.1 8-5.4 6.3-2 9.8-2c3.4 0 6.6 0.67 9.6 2s5.7 3.1 8 5.4 4.1 4.9 5.4 8 2 6.9 2 9.6v4.8h-25v-7.5h18c0-2-0.45-3.9-1.4-5.7s-2.2-3.4-3.8-4.7c-1.3-1.1-2.8-2-4.4-2.7-0.39-0.17-0.78-0.33-1.2-0.48-2.2-0.81-4.5-1.2-6.8-1.2h-4e-3c-1.9 0-3.8 0.29-5.7 0.89-0.41 0.14-0.82 0.29-1.2 0.46-2.1 0.9-4 2.2-5.6 3.8s-2.8 3.5-3.7 5.6-1.4 4.4-1.4 6.8c-0.012 1.9 0.29 3.8 0.89 5.7 0.14 0.41 0.29 0.82 0.46 1.2 0.9 2.1 2.1 4 3.7 5.6s3.4 2.8 5.6 3.7c2 0.85 4.2 1.3 6.4 1.3 0.15 0.0034 0.31 0.0051 0.46 5e-3zm-132 7.1v-7.5c2.4 0 4.7-0.45 6.8-1.4s4-2.1 5.6-3.7 2.8-3.4 3.7-5.5 1.4-4.4 1.4-6.8-0.45-4.7-1.4-6.8-2.1-4-3.7-5.6-3.4-2.8-5.6-3.7-4.4-1.4-6.8-1.4-4.6 0.45-6.8 1.4-3.9 2.1-5.5 3.7-2.8 3.4-3.7 5.6-1.4 4.4-1.4 6.8h-7.5c0-3.4 0.65-6.6 2-9.6s3.1-5.7 5.4-8 4.9-4 7.9-5.4 6.2-2 9.6-2 6.6 0.65 9.6 2 5.7 3.1 8 5.4 4 4.9 5.4 8 2 6.2 2 9.6c0 3.5-0.65 6.7-2 9.8s-3.1 5.7-5.4 7.9-4.9 4-8 5.2-6.2 1.9-9.6 1.9zm75-25v-0.2h7.6v0.2c0 3.5-0.67 6.7-2 9.8s-3.1 5.7-5.4 8-4.9 4.1-8 5.4-6.3 2-9.7 2c-3.5 0-6.7-0.67-9.8-2s-5.7-3.1-8-5.4-4.1-4.9-5.4-8-2.5-6.3-2-9.8v-25h7.6v25c0 2.4 0.45 4.7 1.4 6.8s2.1 4 3.7 5.6 3.4 2.8 5.6 3.8c2.1 0.91 4.4 1.4 6.7 1.4 0.079 8e-4 0.16 0.0012 0.24 1e-3 2.4 0 4.6-0.47 6.8-1.4s4-2.2 5.6-3.8 2.9-3.4 3.8-5.6 1.4-6.8 1.4-6.8zm132 0v-0.2h7.6v0.2c0 3.5-0.67 6.7-2 9.8s-3.1 5.7-5.4 8-4.9 4.1-8 5.4-6.3 2-9.7 2c-3.5 0-6.7-0.67-9.8-2s-5.7-3.1-8-5.4-4.1-4.9-5.4-8-2-6.3-2-9.8v-25h7.6v25c0 2.4 0.45 4.7 1.4 6.8s2.1 4 3.7 5.6 3.4 2.8 5.6 3.8c2.1 0.91 4.4 1.4 6.7 1.4 0.079 8e-4 0.16 0.0012 0.24 1e-3 2.4 0 4.6-0.47 6.8-1.4s4-2.2 5.6-3.8 2.9-3.4 3.8-5.6 1.4-7 1.4-6.8zm-240 25h-7.5v-75h7.5zm-72-0.2h-7.5v-74h7.5zm195 0.2v-8.1h8.4v8.1z" />
        </symbol>
        <!--! Font Awesome 5.15.4/6.0.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
        <symbol id="svg_software" viewBox="0 0 640 512">
            <title>Software</title>
            <path d="M128 96h384v256h64V80C576 53.63 554.4 32 528 32h-416C85.63 32 64 53.63 64 80V352h64V96zM624 384h-608C7.25 384 0 391.3 0 400V416c0 35.25 28.75 64 64 64h512c35.25 0 64-28.75 64-64v-16C640 391.3 632.8 384 624 384zM365.9 286.2C369.8 290.1 374.9 292 380 292s10.23-1.938 14.14-5.844l48-48c7.812-7.813 7.812-20.5 0-28.31l-48-48c-7.812-7.813-20.47-7.813-28.28 0c-7.812 7.813-7.812 20.5 0 28.31l33.86 33.84l-33.86 33.84C358 265.7 358 278.4 365.9 286.2zM274.1 161.9c-7.812-7.813-20.47-7.813-28.28 0l-48 48c-7.812 7.813-7.812 20.5 0 28.31l48 48C249.8 290.1 254.9 292 260 292s10.23-1.938 14.14-5.844c7.812-7.813 7.812-20.5 0-28.31L240.3 224l33.86-33.84C281.1 182.4 281.1 169.7 274.1 161.9z" />
        </symbol>
        <symbol id="svg_webapp" viewBox="0 0 384 512">
            <title>WebApp</title>
            <path d="M162.1 257.8c-7.812-7.812-20.47-7.812-28.28 0l-48 48c-7.812 7.812-7.812 20.5 0 28.31l48 48C137.8 386.1 142.9 388 148 388s10.23-1.938 14.14-5.844c7.812-7.812 7.812-20.5 0-28.31L128.3 320l33.86-33.84C169.1 278.3 169.1 265.7 162.1 257.8zM365.3 93.38l-74.63-74.64C278.6 6.742 262.3 0 245.4 0H64C28.65 0 0 28.65 0 64l.0065 384c0 35.34 28.65 64 64 64H320c35.2 0 64-28.8 64-64V138.6C384 121.7 377.3 105.4 365.3 93.38zM336 448c0 8.836-7.164 16-16 16H64.02c-8.838 0-16-7.164-16-16L48 64.13c0-8.836 7.164-16 16-16h160L224 128c0 17.67 14.33 32 32 32h79.1V448zM221.9 257.8c-7.812 7.812-7.812 20.5 0 28.31L255.7 320l-33.86 33.84c-7.812 7.812-7.812 20.5 0 28.31C225.8 386.1 230.9 388 236 388s10.23-1.938 14.14-5.844l48-48c7.812-7.812 7.812-20.5 0-28.31l-48-48C242.3 250 229.7 250 221.9 257.8z" />
        </symbol>
        <symbol id="svg_api" viewBox="0 0 512 512">
            <title>API</title>
            <path d="M305.8 2.076C314.4 5.932 320 14.52 320 24V64H336C406.7 64 464 121.3 464 192V358.7C492.3 371 512 399.2 512 432C512 476.2 476.2 512 432 512C387.8 512 352 476.2 352 432C352 399.2 371.7 371 400 358.7V192C400 156.7 371.3 128 336 128H320V168C320 177.5 314.4 186.1 305.8 189.9C297.1 193.8 286.1 192.2 279.9 185.8L199.9 113.8C194.9 109.3 192 102.8 192 96C192 89.2 194.9 82.71 199.9 78.16L279.9 6.161C286.1-.1791 297.1-1.779 305.8 2.077V2.076zM432 456C445.3 456 456 445.3 456 432C456 418.7 445.3 408 432 408C418.7 408 408 418.7 408 432C408 445.3 418.7 456 432 456zM112 358.7C140.3 371 160 399.2 160 432C160 476.2 124.2 512 80 512C35.82 512 0 476.2 0 432C0 399.2 19.75 371 48 358.7V153.3C19.75 140.1 0 112.8 0 80C0 35.82 35.82 .0004 80 .0004C124.2 .0004 160 35.82 160 80C160 112.8 140.3 140.1 112 153.3V358.7zM80 56C66.75 56 56 66.75 56 80C56 93.25 66.75 104 80 104C93.25 104 104 93.25 104 80C104 66.75 93.25 56 80 56zM80 408C66.75 408 56 418.7 56 432C56 445.3 66.75 456 80 456C93.25 456 104 445.3 104 432C104 418.7 93.25 408 80 408z" />
        </symbol>
        <symbol id="svg_paperplane" viewBox="0 0 512 512">
            <title>Paper plane</title>
            <path d="M511.6 36.86l-64 415.1c-1.5 9.734-7.375 18.22-15.97 23.05c-4.844 2.719-10.27 4.097-15.68 4.097c-4.188 0-8.319-.8154-12.29-2.472l-122.6-51.1l-50.86 76.29C226.3 508.5 219.8 512 212.8 512C201.3 512 192 502.7 192 491.2v-96.18c0-7.115 2.372-14.03 6.742-19.64L416 96l-293.7 264.3L19.69 317.5C8.438 312.8 .8125 302.2 .0625 289.1s5.469-23.72 16.06-29.77l448-255.1c10.69-6.109 23.88-5.547 34 1.406S513.5 24.72 511.6 36.86z" />
        </symbol>
        <symbol id="svg_eye" viewBox="0 0 576 512">
            <title>Eye</title>
            <path d="M572.52 241.4C518.29 135.59 410.93 64 288 64S57.68 135.64 3.48 241.41a32.35 32.35 0 0 0 0 29.19C57.71 376.41 165.07 448 288 448s230.32-71.64 284.52-177.41a32.35 32.35 0 0 0 0-29.19zM288 400a144 144 0 1 1 144-144 143.93 143.93 0 0 1-144 144zm0-240a95.31 95.31 0 0 0-25.31 3.79 47.85 47.85 0 0 1-66.9 66.9A95.78 95.78 0 1 0 288 160z" />
        </symbol>
        <symbol id="svg_git" viewBox="0 0 448 512">
            <title>Git</title>
            <path d="M439.55 236.05L244 40.45a28.87 28.87 0 0 0-40.81 0l-40.66 40.63 51.52 51.52c27.06-9.14 52.68 16.77 43.39 43.68l49.66 49.66c34.23-11.8 61.18 31 35.47 56.69-26.49 26.49-70.21-2.87-56-37.34L240.22 199v121.85c25.3 12.54 22.26 41.85 9.08 55a34.34 34.34 0 0 1-48.55 0c-17.57-17.6-11.07-46.91 11.25-56v-123c-20.8-8.51-24.6-30.74-18.64-45L142.57 101 8.45 235.14a28.86 28.86 0 0 0 0 40.81l195.61 195.6a28.86 28.86 0 0 0 40.8 0l194.69-194.69a28.86 28.86 0 0 0 0-40.81z" />
        </symbol>
        <symbol id="svg_medical" viewBox="0 0 640 512">
            <title>Laptop medical</title>
            <path d="M624 384h-608C7.25 384 0 391.3 0 400V416c0 35.25 28.75 64 64 64h512c35.25 0 64-28.75 64-64v-16C640 391.3 632.8 384 624 384zM128 96h384v256h64V80C576 53.63 554.4 32 528 32h-416C85.63 32 64 53.63 64 80V352h64V96zM304 336h32c8.801 0 16-7.201 16-16V272h48C408.8 272 416 264.8 416 256V224c0-8.801-7.199-16-16-16H352V160c0-8.801-7.199-16-16-16h-32C295.2 144 288 151.2 288 160v48H240C231.2 208 224 215.2 224 224v32c0 8.799 7.199 16 16 16H288V320C288 328.8 295.2 336 304 336z" />
        </symbol>
        <symbol id="svg_screwdriver" viewBox="0 0 512 512">
            <title>Screwdriver</title>
            <path d="M331.8 224.1c28.29 0 54.88 10.99 74.86 30.97l19.59 19.59c40.01-17.74 71.25-53.3 81.62-96.65c5.725-23.92 5.34-47.08 .2148-68.4c-2.613-10.88-16.43-14.51-24.34-6.604l-68.9 68.9h-75.6V97.2l68.9-68.9c7.912-7.912 4.275-21.73-6.604-24.34c-21.32-5.125-44.48-5.51-68.4 .2148c-55.3 13.23-98.39 60.22-107.2 116.4C224.5 128.9 224.2 137 224.3 145l82.78 82.86C315.2 225.1 323.5 224.1 331.8 224.1zM384 278.6c-23.16-23.16-57.57-27.57-85.39-13.9L191.1 158L191.1 95.99l-127.1-95.99L0 63.1l96 127.1l62.04 .0077l106.7 106.6c-13.67 27.82-9.251 62.23 13.91 85.39l117 117.1c14.62 14.5 38.21 14.5 52.71-.0016l52.75-52.75c14.5-14.5 14.5-38.08-.0016-52.71L384 278.6zM227.9 307L168.7 247.9l-148.9 148.9c-26.37 26.37-26.37 69.08 0 95.45C32.96 505.4 50.21 512 67.5 512s34.54-6.592 47.72-19.78l119.1-119.1C225.5 352.3 222.6 329.4 227.9 307zM64 472c-13.25 0-24-10.75-24-24c0-13.26 10.75-24 24-24S88 434.7 88 448C88 461.3 77.25 472 64 472z" />
        </symbol>
        <symbol id="svg_server" viewBox="0 0 512 512">
            <title>Server</title>
            <path d="M480 160H32c-17.673 0-32-14.327-32-32V64c0-17.673 14.327-32 32-32h448c17.673 0 32 14.327 32 32v64c0 17.673-14.327 32-32 32zm-48-88c-13.255 0-24 10.745-24 24s10.745 24 24 24 24-10.745 24-24-10.745-24-24-24zm-64 0c-13.255 0-24 10.745-24 24s10.745 24 24 24 24-10.745 24-24-10.745-24-24-24zm112 248H32c-17.673 0-32-14.327-32-32v-64c0-17.673 14.327-32 32-32h448c17.673 0 32 14.327 32 32v64c0 17.673-14.327 32-32 32zm-48-88c-13.255 0-24 10.745-24 24s10.745 24 24 24 24-10.745 24-24-10.745-24-24-24zm-64 0c-13.255 0-24 10.745-24 24s10.745 24 24 24 24-10.745 24-24-10.745-24-24-24zm112 248H32c-17.673 0-32-14.327-32-32v-64c0-17.673 14.327-32 32-32h448c17.673 0 32 14.327 32 32v64c0 17.673-14.327 32-32 32zm-48-88c-13.255 0-24 10.745-24 24s10.745 24 24 24 24-10.745 24-24-10.745-24-24-24zm-64 0c-13.255 0-24 10.745-24 24s10.745 24 24 24 24-10.745 24-24-10.745-24-24-24z" />
        </symbol>
        <symbol id="svg_location" viewBox="0 0 576 512">
            <title>Location</title>
            <path d="M408 120C408 174.6 334.9 271.9 302.8 311.1C295.1 321.6 280.9 321.6 273.2 311.1C241.1 271.9 168 174.6 168 120C168 53.73 221.7 0 288 0C354.3 0 408 53.73 408 120zM288 152C310.1 152 328 134.1 328 112C328 89.91 310.1 72 288 72C265.9 72 248 89.91 248 112C248 134.1 265.9 152 288 152zM425.6 179.8C426.1 178.6 426.6 177.4 427.1 176.1L543.1 129.7C558.9 123.4 576 135 576 152V422.8C576 432.6 570 441.4 560.9 445.1L416 503V200.4C419.5 193.5 422.7 186.7 425.6 179.8zM150.4 179.8C153.3 186.7 156.5 193.5 160 200.4V451.8L32.91 502.7C17.15 508.1 0 497.4 0 480.4V209.6C0 199.8 5.975 190.1 15.09 187.3L137.6 138.3C140 152.5 144.9 166.6 150.4 179.8H150.4zM327.8 331.1C341.7 314.6 363.5 286.3 384 255V504.3L192 449.4V255C212.5 286.3 234.3 314.6 248.2 331.1C268.7 357.6 307.3 357.6 327.8 331.1L327.8 331.1z" />
        </symbol>
        <symbol id="svg_phone" viewBox="0 0 384 512">
            <title>Phone</title>
            <path d="M304 0h-224c-35.35 0-64 28.65-64 64v384c0 35.35 28.65 64 64 64h224c35.35 0 64-28.65 64-64V64C368 28.65 339.3 0 304 0zM192 480c-17.75 0-32-14.25-32-32s14.25-32 32-32s32 14.25 32 32S209.8 480 192 480zM304 64v320h-224V64H304z" />
        </symbol>
        <symbol id="svg_linkedin" viewBox="0 0 448 512">
            <title>Linkedin</title>
            <path d="M100.28 448H7.4V148.9h92.88zM53.79 108.1C24.09 108.1 0 83.5 0 53.8a53.79 53.79 0 0 1 107.58 0c0 29.7-24.1 54.3-53.79 54.3zM447.9 448h-92.68V302.4c0-34.7-.7-79.2-48.29-79.2-48.29 0-55.69 37.7-55.69 76.7V448h-92.78V148.9h89.08v40.8h1.3c12.4-23.5 42.69-48.3 87.88-48.3 94 0 111.28 61.9 111.28 142.3V448z" />
        </symbol>
        <symbol id="svg_github" viewBox="0 0 496 512">
            <title>GitHub</title>
            <path d="M165.9 397.4c0 2-2.3 3.6-5.2 3.6-3.3.3-5.6-1.3-5.6-3.6 0-2 2.3-3.6 5.2-3.6 3-.3 5.6 1.3 5.6 3.6zm-31.1-4.5c-.7 2 1.3 4.3 4.3 4.9 2.6 1 5.6 0 6.2-2s-1.3-4.3-4.3-5.2c-2.6-.7-5.5.3-6.2 2.3zm44.2-1.7c-2.9.7-4.9 2.6-4.6 4.9.3 2 2.9 3.3 5.9 2.6 2.9-.7 4.9-2.6 4.6-4.6-.3-1.9-3-3.2-5.9-2.9zM244.8 8C106.1 8 0 113.3 0 252c0 110.9 69.8 205.8 169.5 239.2 12.8 2.3 17.3-5.6 17.3-12.1 0-6.2-.3-40.4-.3-61.4 0 0-70 15-84.7-29.8 0 0-11.4-29.1-27.8-36.6 0 0-22.9-15.7 1.6-15.4 0 0 24.9 2 38.6 25.8 21.9 38.6 58.6 27.5 72.9 20.9 2.3-16 8.8-27.1 16-33.7-55.9-6.2-112.3-14.3-112.3-110.5 0-27.5 7.6-41.3 23.6-58.9-2.6-6.5-11.1-33.3 2.6-67.9 20.9-6.5 69 27 69 27 20-5.6 41.5-8.5 62.8-8.5s42.8 2.9 62.8 8.5c0 0 48.1-33.6 69-27 13.7 34.7 5.2 61.4 2.6 67.9 16 17.7 25.8 31.5 25.8 58.9 0 96.5-58.9 104.2-114.8 110.5 9.2 7.9 17 22.9 17 46.4 0 33.7-.3 75.4-.3 83.6 0 6.5 4.6 14.4 17.3 12.1C428.2 457.8 496 362.9 496 252 496 113.3 383.5 8 244.8 8zM97.2 352.9c-1.3 1-1 3.3.7 5.2 1.6 1.6 3.9 2.3 5.2 1 1.3-1 1-3.3-.7-5.2-1.6-1.6-3.9-2.3-5.2-1zm-10.8-8.1c-.7 1.3.3 2.9 2.3 3.9 1.6 1 3.6.7 4.3-.7.7-1.3-.3-2.9-2.3-3.9-2-.6-3.6-.3-4.3.7zm32.4 35.6c-1.6 1.3-1 4.3 1.3 6.2 2.3 2.3 5.2 2.6 6.5 1 1.3-1.3.7-4.3-1.3-6.2-2.2-2.3-5.2-2.6-6.5-1zm-11.4-14.7c-1.6 1-1.6 3.6 0 5.9 1.6 2.3 4.3 3.3 5.6 2.3 1.6-1.3 1.6-3.9 0-6.2-1.4-2.3-4-3.3-5.6-2z" />
        </symbol>
        <symbol id="svg_pencil" viewBox="0 0 512 512">
            <title>Pencil</title>
            <path d="M421.7 220.3L188.5 453.4L154.6 419.5L158.1 416H112C103.2 416 96 408.8 96 400V353.9L92.51 357.4C87.78 362.2 84.31 368 82.42 374.4L59.44 452.6L137.6 429.6C143.1 427.7 149.8 424.2 154.6 419.5L188.5 453.4C178.1 463.8 165.2 471.5 151.1 475.6L30.77 511C22.35 513.5 13.24 511.2 7.03 504.1C.8198 498.8-1.502 489.7 .976 481.2L36.37 360.9C40.53 346.8 48.16 333.9 58.57 323.5L291.7 90.34L421.7 220.3zM492.7 58.75C517.7 83.74 517.7 124.3 492.7 149.3L444.3 197.7L314.3 67.72L362.7 19.32C387.7-5.678 428.3-5.678 453.3 19.32L492.7 58.75z" />
        </symbol>
        <symbol id="svg_joke_redhat" viewBox="0 0 512 512">
            <title>Hahah a redhat for license part</title>
            <path d="M341.52 285.56c33.65 0 82.34-6.94 82.34-47 .22-6.74.86-1.82-20.88-96.24-4.62-19.15-8.68-27.84-42.31-44.65-26.09-13.34-82.92-35.37-99.73-35.37-15.66 0-20.2 20.17-38.87 20.17-18 0-31.31-15.06-48.12-15.06-16.14 0-26.66 11-34.78 33.62-27.5 77.55-26.28 74.27-26.12 78.27 0 24.8 97.64 106.11 228.47 106.11M429 254.84c4.65 22 4.65 24.35 4.65 27.25 0 37.66-42.33 58.56-98 58.56-125.74.08-235.91-73.65-235.91-122.33a49.55 49.55 0 0 1 4.06-19.72C58.56 200.86 0 208.93 0 260.63c0 84.67 200.63 189 359.49 189 121.79 0 152.51-55.08 152.51-98.58 0-34.21-29.59-73.05-82.93-96.24" />
        </symbol>
        <symbol id="svg_cookie" viewBox="0 0 512 512">
            <title>Cookie</title>
            <path d="M494.6 255.9c-65.63-.8203-118.6-54.14-118.6-119.9c-65.74 0-119.1-52.97-119.8-118.6c-25.66-3.867-51.8 .2346-74.77 12.07L116.7 62.41C93.35 74.36 74.36 93.35 62.41 116.7L29.6 181.2c-11.95 23.44-16.17 49.92-12.07 75.94l11.37 71.48c4.102 25.9 16.29 49.8 34.81 68.32l51.36 51.39C133.6 466.9 157.3 479 183.2 483.1l71.84 11.37c25.9 4.101 52.27-.1172 75.59-11.95l64.81-33.05c23.32-11.84 42.31-30.82 54.14-54.14l32.93-64.57C494.3 307.7 498.5 281.4 494.6 255.9zM176 367.1c-17.62 0-32-14.37-32-31.1s14.38-31.1 32-31.1s32 14.37 32 31.1S193.6 367.1 176 367.1zM208 208c-17.62 0-32-14.37-32-31.1s14.38-31.1 32-31.1s32 14.37 32 31.1S225.6 208 208 208zM368 335.1c-17.62 0-32-14.37-32-31.1s14.38-31.1 32-31.1s32 14.37 32 31.1S385.6 335.1 368 335.1z" />
        </symbol>
        <symbol id="svg_cross" viewBox="0 0 320 512">
            <title>Cross</title>
            <path d="M310.6 361.4c12.5 12.5 12.5 32.75 0 45.25C304.4 412.9 296.2 416 288 416s-16.38-3.125-22.62-9.375L160 301.3L54.63 406.6C48.38 412.9 40.19 416 32 416S15.63 412.9 9.375 406.6c-12.5-12.5-12.5-32.75 0-45.25l105.4-105.4L9.375 150.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L160 210.8l105.4-105.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-105.4 105.4L310.6 361.4z" />
        </symbol>
        <symbol id="svg_user" viewBox="0 0 448 512">
            <title>User</title>
            <path d="M224 256c70.7 0 128-57.31 128-128s-57.3-128-128-128C153.3 0 96 57.31 96 128S153.3 256 224 256zM274.7 304H173.3C77.61 304 0 381.6 0 477.3c0 19.14 15.52 34.67 34.66 34.67h378.7C432.5 512 448 496.5 448 477.3C448 381.6 370.4 304 274.7 304z" />
        </symbol>
        <symbol id="svg_users" viewBox="0 0 640 512">
            <title>Users</title>
            <path d="M319.9 320c57.41 0 103.1-46.56 103.1-104c0-57.44-46.54-104-103.1-104c-57.41 0-103.1 46.56-103.1 104C215.9 273.4 262.5 320 319.9 320zM369.9 352H270.1C191.6 352 128 411.7 128 485.3C128 500.1 140.7 512 156.4 512h327.2C499.3 512 512 500.1 512 485.3C512 411.7 448.4 352 369.9 352zM512 160c44.18 0 80-35.82 80-80S556.2 0 512 0c-44.18 0-80 35.82-80 80S467.8 160 512 160zM183.9 216c0-5.449 .9824-10.63 1.609-15.91C174.6 194.1 162.6 192 149.9 192H88.08C39.44 192 0 233.8 0 285.3C0 295.6 7.887 304 17.62 304h199.5C196.7 280.2 183.9 249.7 183.9 216zM128 160c44.18 0 80-35.82 80-80S172.2 0 128 0C83.82 0 48 35.82 48 80S83.82 160 128 160zM551.9 192h-61.84c-12.8 0-24.88 3.037-35.86 8.24C454.8 205.5 455.8 210.6 455.8 216c0 33.71-12.78 64.21-33.16 88h199.7C632.1 304 640 295.6 640 285.3C640 233.8 600.6 192 551.9 192z" />
        </symbol>
        <symbol id="svg_object" viewBox="0 0 576 512">
            <title>Object</title>
            <path d="M128 160C128 142.3 142.3 128 160 128H288C305.7 128 320 142.3 320 160V256C320 273.7 305.7 288 288 288H160C142.3 288 128 273.7 128 256V160zM288 320C323.3 320 352 291.3 352 256V224H416C433.7 224 448 238.3 448 256V352C448 369.7 433.7 384 416 384H288C270.3 384 256 369.7 256 352V320H288zM32 119.4C12.87 108.4 0 87.69 0 64C0 28.65 28.65 0 64 0C87.69 0 108.4 12.87 119.4 32H456.6C467.6 12.87 488.3 0 512 0C547.3 0 576 28.65 576 64C576 87.69 563.1 108.4 544 119.4V392.6C563.1 403.6 576 424.3 576 448C576 483.3 547.3 512 512 512C488.3 512 467.6 499.1 456.6 480H119.4C108.4 499.1 87.69 512 64 512C28.65 512 0 483.3 0 448C0 424.3 12.87 403.6 32 392.6V119.4zM119.4 96C113.8 105.7 105.7 113.8 96 119.4V392.6C105.7 398.2 113.8 406.3 119.4 416H456.6C462.2 406.3 470.3 398.2 480 392.6V119.4C470.3 113.8 462.2 105.7 456.6 96H119.4z" />
        </symbol>
    </svg>
</body>

</html>